@model ProiectDAW.Models.Localitate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Localitate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Denumire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Judet.Denumire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Judet.Denumire)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocalitateID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
