@model IEnumerable<ProiectDAW.Models.Caine>

@{
    ViewBag.Title = "Lista câinilor";
    int index = 1;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Adaugă câine", "Create", null, new { @class = "btn btn-success btn-xs" })
</p>
<table class="table" id="cainiTable">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNasterii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponibil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th>Opțiuni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(index++).
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNasterii)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disponibil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDate)
                </td>
                @if (item.Disponibil == true)
                {
                    <td>
                        @Html.ActionLink("Editare", "Edit", new { id = item.CaineId }, new { @class = "btn btn-warning btn-xs" }) |
                        @Html.ActionLink("Detalii", "Details", new { id = item.CaineId }, new { @class = "btn btn-info btn-xs" }) |
                        @Html.ActionLink("Șterge", "Delete", new { id = item.CaineId }, new { @class = "btn btn-danger btn-xs" })
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Editare", "Edit", new { id = item.CaineId }, new { @class = "btn btn-warning btn-xs" }) |
                        @Html.ActionLink("Detalii", "Details", new { id = item.CaineId }, new { @class = "btn btn-info btn-xs" })
                    </td>
                }

            </tr>
        }
    </tbody>
</table>

    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/dataTables.foundation.min.css" />

    @section Scripts{
        <script type="text/javascript" src="~/Content/DataTables/datatables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#cainiTable').DataTable();
            });
        </script>
    }